body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    background-image: url(./img/bg.jpeg);
    background-size: cover;
  }
  
  /*--- navigation bar ---*/
  
  .navbar {
    background:#6ab446;
  }
  
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .navbar-collapse {
    justify-content: flex-start;
  }

  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
    font-size: 16pt;
    
  }
  
  .feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }

  .banner{
    height: 230px;
    background-image: url(./img/banner.png);
    background-size: cover;
    
  }

  .overlay {
    position: absolute;
    min-height: 68%;
    min-width: 100%;
    left: 0;
    top: 290;
    background: rgba(255, 255, 255, 0.187);
  }

 