 @import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');


 br {
    
    line-height:1.5em;/* chrome for instance */
  }

body {
  font-family: 'Jomolhari', serif;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
  background: linear-gradient(#ffffff , #a19b9b)
  

}
 
body section{ 

 width: 40%;
  height: 40%;
  
}


header .face {
  display: flex;
  justify-content: flex-end;
}

